body {
  margin: 0;
  color: #000;
  min-width: 320px;
  font: 12px/14px "Open Sans", sans-serif;
}

/* General reset */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

img {
  border-style: none;
}

input, select, textarea {
  vertical-align: middle;
  font: 100% "Open Sans", sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #034b8f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

q {
  quotes: none;
}

q:before {
  content: '';
}

q:after {
  content: '';
}

/* General settings */
article, aside, audio, canvas, datalist, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  display: block;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*!!!!!!!!!!!!!!!!!!!!!!!*/
/*responsiv*/
/*responsiv*/
/**************Gestartet*************/
#header {
  width: 100%;
  position: relative;
}

#header:after {
  display: block;
  clear: both;
  content: '';
}

#header .h-top {
  overflow: hidden;
  height: 31px;
  background: #eaeaea;
  border-bottom: 1px solid #e6e5e5;
  text-align: center;
}

#header .h-top .center {
  position: relative;
}

#header .h-middle {
  width: 100%;
  background: #f0f0f0;
  padding-top: 32px;
  padding-bottom: 34px;
}

#header .h-bottom {
  background: #959595;
  position: relative;
}

#header .h-bottom .center {
  position: relative;
}

#header .h-bottom:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 174px;
  left: 0;
  top: -174px;
  background: url(../images/bg2-small.png) no-repeat 50% 0;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
}

@media screen and (min-width: 1600px) {
  #header .h-bottom:before {
    background: url(../images/bg2.png) no-repeat 50% 0;
  }
}

.btn-mob {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 14px;
  left: 15px;
  display: none;
  cursor: pointer;
}

.btn-mob span {
  width: 100%;
  height: 4px;
  background: #fff;
  display: block;
}

.btn-mob span + span {
  margin-top: 5px;
}

.btn-mob.active span {
  background: #d72f2e;
}

.tel-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  position: relative;
  z-index: 20;
}

.tel-list li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 9px;
}

.tel-list li i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.tel-list li span {
  display: inline-block;
  vertical-align: middle;
}

.tel-list li a {
  color: #000;
}

.tel-list li a:hover {
  text-decoration: none;
}

.telegram i {
  background-image: url(../images/sprite.png);
  background-position: -62px -132px;
  width: 17px;
  height: 17px;
}

.mtc i {
  background-image: url(../images/sprite.png);
  background-position: -143px -109px;
  width: 18px;
  height: 17px;
}

.viber i {
  background-image: url(../images/sprite.png);
  background-position: -40px -132px;
  width: 17px;
  height: 17px;
}

.etc-inf {
  position: absolute;
  top: 0;
  right: 15px;
  color: #7c7c7c;
  font-weight: 600;
  font-size: 12px;
  line-height: 31px;
}

.etc-inf .time {
  padding-left: 34px;
  position: relative;
  margin-left: 5px;
}

.etc-inf .time:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  background-image: url(../images/sprite.png);
  background-position: -111px -94px;
  width: 19px;
  height: 22px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 354px;
  height: 76px;
  position: relative;
  z-index: 20;
}

.logo a {
  display: block;
  height: 100%;
  font-size: 0;
  text-indent: -9999px;
  outline: none;
  background: url(../images/logo.png) no-repeat;
}

.nav-bar {
  width: 100%;
  min-height: 51px;
}

.nav-bar:after {
  display: block;
  clear: both;
  content: '';
}

.main-nav {
  margin: 0;
  padding: 0 208px 0 0;
  list-style: none;
  font-weight: 600;
  float: right;
}

.main-nav li {
  float: left;
  min-height: 51px;
}

.main-nav li.active a {
  background: #bb1e1d;
}

.main-nav li a {
  color: #fff;
  padding: 16px 30px 15px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav li a:hover {
  background: #bb1e1d;
  text-decoration: none;
}

.etc-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  top: 0;
  position: absolute;
}

.etc-nav li {
  float: left;
}

.etc-nav li.active a {
  background: #b5b5b5;
}

.etc-nav li.active a span {
  background: #fff;
}

.etc-nav li a {
  padding: 8px 8px 7px;
  display: block;
}

.etc-nav li a:hover {
  background: #b5b5b5;
}

.etc-nav li a span {
  display: block;
  background: #e0e0e0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 36px;
  width: 36px;
  position: relative;
}

.etc-nav li a span i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  font-size: 0;
  text-indent: -9999px;
}

.etc-nav li a:hover span {
  background: #fff;
}

.etc-nav li.mail-ico i {
  background-image: url(../images/sprite.png);
  background-position: -106px -76px;
  width: 16px;
  height: 11px;
}

.etc-nav li.mail-ico:hover i, .etc-nav li.mail-ico:active i, .etc-nav li.mail-ico.active i {
  background-image: url(../images/sprite.png);
  background-position: -149px -132px;
  width: 16px;
  height: 11px;
}

.etc-nav li.user-ico i {
  background-image: url(../images/sprite.png);
  background-position: -18px -163px;
  width: 13px;
  height: 18px;
}

.etc-nav li.user-ico:hover i, .etc-nav li.user-ico:active i, .etc-nav li.user-ico.active i {
  background-image: url(../images/sprite.png);
  background-position: 0px -163px;
  width: 13px;
  height: 18px;
}

.etc-nav li.search-ico i {
  background-image: url(../images/sprite.png);
  background-position: -84px -132px;
  width: 17px;
  height: 17px;
}

.etc-nav li.search-ico:hover i, .etc-nav li.search-ico:active i, .etc-nav li.search-ico.active i {
  background-image: url(../images/sprite.png);
  background-position: -106px -132px;
  width: 17px;
  height: 17px;
}

.etc-nav li.card-ico i {
  background-image: url(../images/sprite.png);
  background-position: -128px -132px;
  width: 16px;
  height: 16px;
}

.etc-nav li.card-ico span {
  background: #fff;
}

.etc-nav li.card-ico:hover i, .etc-nav li.card-ico:active i, .etc-nav li.card-ico.active i {
  background-image: url(../images/sprite.png);
  background-position: -128px -132px;
  width: 16px;
  height: 16px;
}

.etc-nav .drop-cont {
  position: absolute;
  display: none;
  z-index: 30;
  top: 100%;
  right: 0;
  width: 340px;
  background: #fff;
  padding: 10px 15px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.3);
}

.etc-nav .drop-cont .bg-form {
  background: #f0f0f0;
  border: 1px solid #e1dede;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  position: relative;
  padding: 0 40px 0 12px;
}

.etc-nav .drop-cont .bg-form .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.etc-nav .drop-cont .bg-form .btn-search i {
  font-size: 0;
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  background-image: url(../images/sprite.png);
  background-position: -84px -132px;
  width: 17px;
  height: 17px;
}

.etc-nav .drop-cont .bg-form .btn-search:hover i {
  background-image: url(../images/sprite.png);
  background-position: -106px -132px;
  width: 17px;
  height: 17px;
}

.etc-nav .drop-cont .bg-form .txt-input {
  border: 0;
  background: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #7c7c7c;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .main-nav li a {
    padding: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav li a {
    font-size: 13px;
  }
}

@media screen and (min-width: 961px) {
  .main-nav-mob-holder {
    display: block !important;
  }
}

@media screen and (max-width: 960px) {
  .btn-mob {
    display: block;
  }
  .nav-bar {
    min-height: auto;
  }
  .etc-nav .drop-cont {
    width: 320px;
  }
  .main-nav-mob-holder {
    display: none;
  }
  .h-bottom .center {
    min-height: 52px;
  }
  .h-bottom .center .nav-bar {
    padding-top: 52px;
  }
  #header .h-top {
    text-align: left;
  }
  .tel-list li {
    padding-left: 0;
    font-size: 13px;
  }
  .main-nav {
    float: none;
    border-top: 1px solid #fff;
    padding: 0;
    margin: 0 -15px;
  }
  .main-nav li {
    float: none;
  }
  .main-nav li a {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .etc-inf {
    display: none;
  }
  #header .h-top {
    text-align: center;
    height: auto;
  }
  .logo {
    width: 300px;
    height: 64px;
  }
  .logo a {
    -webkit-background-size: cover !important;
            background-size: cover !important;
  }
}

#footer {
  background: #1a1919;
}

#footer .h-top {
  border-bottom: 1px solid #353535;
  padding-top: 28px;
  padding-bottom: 14px;
}

#footer .h-bottom .center {
  position: relative;
  padding-top: 0 !important;
}

#footer .soc-box {
  display: block;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

#footer .soc-box span {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #8d8c8c;
}

#footer .soc-box ul {
  margin: 18px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  letter-spacing: 0;
}

#footer .soc-box ul li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 11px;
}

#footer .soc-box ul li a {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  opacity: .5;
}

#footer .soc-box ul li a:hover {
  opacity: 1;
}

#footer .soc-box ul li.google-link a {
  background-image: url(../images/sprite.png);
  background-position: -74px -94px;
  width: 32px;
  height: 33px;
}

#footer .soc-box ul li.facebook-link a {
  background-image: url(../images/sprite.png);
  background-position: -37px -94px;
  width: 32px;
  height: 33px;
}

#footer .soc-box ul li.twitter-link a {
  background-image: url(../images/sprite.png);
  background-position: -106px 0px;
  width: 32px;
  height: 33px;
}

#footer .soc-box ul li.instagram-link a {
  background-image: url(../images/sprite.png);
  background-position: -106px -38px;
  width: 32px;
  height: 33px;
}

#footer .soc-box ul li.pinterest-link a {
  background-image: url(../images/sprite.png);
  background-position: -143px -37px;
  width: 32px;
  height: 32px;
}

#footer .soc-box ul li.youtube-link a {
  background-image: url(../images/sprite.png);
  background-position: -143px 0px;
  width: 32px;
  height: 32px;
}

.f-nav {
  margin: 0 -15px;
  padding: 0;
  list-style: none;
}

.f-nav:after {
  display: block;
  clear: both;
  content: '';
}

.f-nav > li {
  float: left;
  width: 20%;
  padding: 0 15px;
}

.f-nav > li:nth-child(2) {
  width: 25%;
}

.f-nav > li:nth-child(3) {
  width: 25%;
}

.f-nav > li:last-child {
  width: 10%;
}

.f-nav > li > a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #d72f2e;
  font-weight: 600;
}

.f-nav .sub-m-footer {
  margin: 0;
  padding: 28px 0 0 0;
  list-style: none;
}

.f-nav .sub-m-footer li {
  padding-bottom: 20px;
}

.f-nav .sub-m-footer li.active a {
  text-decoration: underline;
}

.f-nav .sub-m-footer a {
  font-size: 14px;
  line-height: 16px;
  color: #e6dada;
}

.made {
  position: absolute;
  bottom: 20px;
  right: 15px;
  text-align: right;
}

.made span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

.made span a {
  color: #666666;
  text-decoration: underline;
}

.made span a:hover {
  color: #fff;
}

.copy {
  position: absolute;
  bottom: 20px;
  left: 15px;
  display: block;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}

@media screen and (max-width: 1000px) {
  .f-nav > li {
    width: 20% !important;
  }
}

@media screen and (max-width: 800px) {
  .sub-m-footer {
    display: none;
  }
  .f-nav > li {
    width: 100% !important;
    float: none;
    padding-bottom: 7px;
  }
  .made, .copy {
    position: static;
    text-align: left;
    padding-bottom: 15px;
  }
  .etc-footer {
    width: 100%;
    overflow: hidden;
  }
  .made {
    float: right;
    text-align: right;
  }
  .copy {
    float: left;
  }
  #footer .soc-box ul li {
    padding: 0 5px;
  }
}

@media screen and (max-width: 400px) {
  .made, .copy {
    text-align: center;
    float: none;
  }
}

body {
  background: url(../images/bg.jpg) repeat;
  background-attachment: fixed;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

#main {
  margin-top: 32px;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.garant-block {
  background: rgba(98, 98, 98, 0.5);
  padding-top: 24px;
  padding-bottom: 20px;
}

.garant-block h3 {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #fefefe;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.garant-block .garant-list {
  margin: 0;
  padding: 20px 0 0 0;
  list-style: none;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.garant-block .garant-list li {
  width: 20%;
  float: left;
  padding: 10px;
}

.garant-block .garant-list li i {
  display: block;
  position: absolute;
  top: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.garant-block .garant-list li span {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  display: block;
  padding-top: 22px;
}

.garant-block .garant-list li .ico-holder {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 89px;
  display: inline-block;
  position: relative;
}

.garant-block .garant-list li.ic1 i {
  background-image: url(../images/sprite.png);
  background-position: -65px 0px;
  width: 36px;
  height: 37px;
}

.garant-block .garant-list li.ic2 i {
  background-image: url(../images/sprite.png);
  background-position: -65px -42px;
  width: 36px;
  height: 33px;
}

.garant-block .garant-list li.ic3 i {
  background-image: url(../images/sprite.png);
  background-position: 0px -94px;
  width: 32px;
  height: 33px;
}

.garant-block .garant-list li.ic4 i {
  background-image: url(../images/sprite.png);
  background-position: -143px -74px;
  width: 29px;
  height: 30px;
}

.garant-block .garant-list li.ic5 i {
  background-image: url(../images/sprite.png);
  background-position: 0px -132px;
  width: 35px;
  height: 26px;
}

.custom-carousel {
  margin-bottom: 40px;
}

.custom-carousel img {
  border: 1px solid #c7c7c7;
}

.custom-carousel .owl-nav {
  left: 0;
  width: 100%;
  margin: 0 !important;
}

.custom-carousel .owl-nav [class*="owl-"] {
  font-size: 0;
  text-indent: -9999px;
  width: 48px;
  height: 48px;
  background: #000;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin: 0 12px;
  background: rgba(81, 75, 75, 0.2);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom-carousel .owl-nav [class*="owl-"]:hover {
  background: rgba(81, 75, 75, 0.4);
}

.custom-carousel .owl-nav [class*="owl-"].disabled {
  background: rgba(81, 75, 75, 0.1);
}

.custom-carousel .owl-nav [class*="owl-"]:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.custom-carousel .owl-nav .owl-prev {
  left: 0;
}

.custom-carousel .owl-nav .owl-prev:after {
  background-image: url(../images/sprite.png);
  background-position: -180px -54px;
  width: 11px;
  height: 22px;
}

.custom-carousel .owl-nav .owl-next {
  right: 0;
}

.custom-carousel .owl-nav .owl-next:after {
  background-image: url(../images/sprite.png);
  background-position: -180px -27px;
  width: 11px;
  height: 22px;
}

.custom-carousel .owl-dots {
  position: absolute;
  bottom: 37px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  height: 23px;
  -webkit-border-radius: 9px;
          border-radius: 9px;
  margin: 0 !important;
  font-size: 0;
  letter-spacing: 0;
  padding: 0 10px;
}

.custom-carousel .owl-dots .owl-dot {
  vertical-align: middle;
  height: 12px;
}

.custom-carousel .owl-dots .owl-dot.active span, .custom-carousel .owl-dots .owl-dot:hover span {
  background: #d72f2e;
}

.custom-carousel .owl-dots .owl-dot span {
  margin: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #d72f2e;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: none;
  margin: 5px 2px;
}

.custom-carousel .slide-text {
  position: absolute;
  top: 50%;
  left: 150px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom-carousel .slide-text h2 {
  margin: 0;
  font-size: 45px;
  line-height: 1;
  font-weight: normal;
  color: #666666;
}

.custom-carousel .slide-text h2 span {
  font-weight: 600;
}

.custom-carousel .slide-text p {
  margin-top: 17px;
  font-size: 14px;
  line-height: 1;
  color: #666;
  margin: 15px 0 0 0;
}

.custom-carousel .slide-text .btn {
  margin: 40px 0 0 60px;
}

.color-text-red {
  color: #d72f2e !important;
}

.btn {
  background: #d72f2e;
  border: 1px solid #d72f2e;
  cursor: pointer;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative;
  min-height: 40px;
  padding: 11px 32px 9px 32px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:after {
  content: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
  display: block;
}

.btn * {
  display: inline-block;
  vertical-align: middle;
}

.btn.btn-with-arrow {
  padding-right: 50px;
}

.btn.btn-with-arrow:after {
  content: '';
}

.btn.btn-with-arrow:hover:after {
  background-image: url(../images/sprite.png);
  background-position: -180px 0px;
  width: 11px;
  height: 22px;
}

.btn.btn-with-arrow:after {
  background-image: url(../images/sprite.png);
  background-position: -180px -27px;
  width: 11px;
  height: 22px;
}

.btn:hover {
  background: none;
  text-decoration: none;
  color: #6a6a6a;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.btn.btn-transparet {
  color: #6a6a6a;
  background: none;
}

.btn.btn-transparet:after {
  background-image: url(../images/sprite.png);
  background-position: -180px 0px;
  width: 11px;
  height: 22px;
}

.btn.btn-transparet:hover {
  text-decoration: none;
  background: #d72f2e;
  color: #fff;
}

.btn.btn-transparet:hover:after {
  background-image: url(../images/sprite.png);
  background-position: -180px -27px;
  width: 11px;
  height: 22px;
}

.item-list-product {
  margin: 0 -13px;
  padding-bottom: 15px;
}

.item-list-product:after {
  display: block;
  clear: both;
  content: '';
}

.item-product {
  float: left;
  width: 33.33%;
  padding: 0 13px;
  margin-bottom: 16px;
}

.item-product.white-bg .holder-product {
  background: #fff;
}

.item-product.white-bg .holder-product .footer-product .f-p-left span {
  color: #292929;
}

.item-product.gray-bg .holder-product {
  background: #c9c9c9;
}

.item-product.gray-bg .holder-product .footer-product .f-p-left span {
  color: #292929;
}

.item-product.gray-corner .holder-product .footer-product .f-p-right:after {
  border-bottom-color: #c9c9c9;
}

.item-product.red-corner .holder-product .footer-product .f-p-right:after {
  border-bottom-color: #d72f2e;
}

.item-product .holder-product {
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.18);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #d72f2e;
}

.item-product .holder-product:hover {
  border-color: rgba(215, 47, 46, 0.64);
  -webkit-box-shadow: 0 0 7px 0px rgba(215, 47, 46, 0.64);
          box-shadow: 0 0 7px 0px rgba(215, 47, 46, 0.64);
}

.item-product .holder-product .footer-product {
  padding-right: 146px;
  height: 60px;
  overflow: hidden;
  position: relative;
  display: table;
  width: 100%;
}

.item-product .holder-product .footer-product .f-p-left {
  padding-left: 30px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.item-product .holder-product .footer-product .f-p-left span {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

.item-product .holder-product .footer-product .f-p-left span i {
  font-style: normal;
}

.item-product .holder-product .footer-product .f-p-left span em, .item-product .holder-product .footer-product .f-p-left span strong {
  font-style: normal;
  display: block;
  font-size: 16px !important;
  line-height: 1.1;
  font-weight: normal;
}

.item-product .holder-product .footer-product .f-p-left span strong {
  font-weight: 600;
}

.item-product .holder-product .footer-product .f-p-left span.uppercase {
  text-transform: uppercase;
}

.item-product .holder-product .footer-product .f-p-right {
  width: 146px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: right;
}

.item-product .holder-product .footer-product .f-p-right:after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 60px solid #fff;
  border-left: 146px solid transparent;
}

.item-product .holder-product .footer-product .f-p-right span {
  position: absolute;
  padding-right: 10px;
  bottom: 7px;
  right: 0;
  width: 100%;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  color: #d72f2e;
  z-index: 10;
}

.item-product .holder-product .footer-product .f-p-right a.go-to {
  position: absolute;
  top: 15px;
  display: block;
  width: 45px;
  height: 45px;
  right: 0;
  z-index: 30;
  font-size: 0;
  text-indent: -9999px;
}

.item-product .holder-product .footer-product .f-p-right a.go-to:after {
  content: '';
  background-image: url(../images/sprite.png);
  background-position: -65px -80px;
  width: 16px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.item-product .holder-product .footer-product .f-p-right a.go-to:hover:after {
  background-image: url(../images/sprite.png);
  background-position: -36px -163px;
  width: 16px;
  height: 8px;
}

.item-product .holder-product .footer-product .f-p-right a.go-to.white-arrow:after {
  background-image: url(../images/sprite.png);
  background-position: -78px -163px;
  width: 16px;
  height: 8px;
}

.item-product .holder-product .footer-product .f-p-right a.go-to.white-arrow:hover:after {
  background-image: url(../images/sprite.png);
  background-position: -57px -163px;
  width: 16px;
  height: 8px;
}

.item-product img {
  display: block;
  width: 100%;
  height: auto;
}

.color-text-white {
  color: #fff !important;
}

.color-text-gray {
  color: #555 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.fixed-help-block {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 50;
}

.fixed-help-block > img {
  display: block;
}

.fixed-help-block .holder-item-f {
  width: 40px;
  height: 44px;
  overflow: hidden;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 7px;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  position: relative;
}

.fixed-help-block .holder-item-f i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-help-block .holder-item-f.slid-scroll i {
  background-image: url(../images/sprite.png);
  background-position: -57px -163px;
  width: 16px;
  height: 8px;
}

.fixed-help-block .holder-item-f.slid-scroll.active i {
  background-image: url(../images/sprite.png);
  background-position: -78px -163px;
  width: 16px;
  height: 8px;
}

.fixed-help-block .holder-item-f.go-to-mail i {
  background-image: url(../images/sprite.png);
  background-position: -106px -76px;
  width: 16px;
  height: 11px;
}

.fixed-help-block .holder-item-f span {
  width: 30px;
  height: 30px;
  background: #c9c9c9;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-help-block .holder-item-f span.red-circle {
  background: #d72f2e;
}

.seo-block {
  padding: 15px 0;
}

.btn-seo {
  margin-top: 20px;
}

.text-center {
  text-align: center !important;
}

.item-list-product.masonry {
  -webkit-columns: 3 auto;
     -moz-columns: 3 auto;
          columns: 3 auto;
}

.item-list-product.masonry .masonry-item {
  float: none;
  display: inline-block;
  width: 100%;
}

.seo-txt h1 {
  margin: 0;
  font-size: 23px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.seo-txt p {
  margin: 15px 0 0 0;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 960px) {
  .item-product .holder-product .footer-product .f-p-left {
    padding-left: 10px;
  }
  .item-product .holder-product .footer-product .f-p-left .uppercase {
    text-transform: none !important;
  }
  .item-product .holder-product .footer-product .f-p-right:after {
    border-left-width: 100px;
  }
  .item-product .holder-product .footer-product .f-p-right {
    width: 100px;
  }
  .item-product .holder-product .footer-product {
    padding-right: 100px;
  }
  .item-product .holder-product .footer-product .f-p-right span {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .no-padding-md {
    padding: 0;
  }
  .custom-carousel {
    margin-bottom: 13px;
  }
  .custom-carousel .owl-nav {
    display: none;
  }
  .custom-carousel .owl-dots {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    display: table;
    margin: 10px auto !important;
    height: 46px;
  }
  .custom-carousel .owl-dots .owl-dot {
    height: auto;
  }
  .custom-carousel .owl-dots .owl-dot span {
    height: 25px;
    width: 25px;
    margin: 10px 4px;
  }
  .custom-carousel .slide-text {
    left: 0;
    top: 0;
    margin: 10px;
    background: rgba(255, 255, 255, 0.4);
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    padding: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }
  .custom-carousel .slide-text .btn {
    margin: 15px 0 0 0;
  }
}

@media screen and (max-width: 850px) {
  .item-product {
    width: 50%;
  }
  .item-list-product.masonry {
    -webkit-columns: 2 auto;
       -moz-columns: 2 auto;
            columns: 2 auto;
  }
}

@media screen and (max-width: 800px) {
  .garant-block .garant-list li {
    float: none;
    width: 100%;
    text-align: left;
  }
  .garant-block .garant-list {
    display: table;
    margin: 0 auto;
    width: auto;
  }
  .garant-block .garant-list li span, .garant-block .garant-list li .ico-holder {
    display: inline-block;
    vertical-align: middle;
    position: static;
  }
  .garant-block .garant-list li span {
    padding: 0 0 0 10px;
  }
  .garant-block .garant-list li span br {
    display: none;
  }
  .garant-block .garant-list li .ico-holder {
    background: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
  }
  .garant-block .garant-list li i {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 500px) {
  .custom-carousel .slide-text h2 {
    font-size: 30px;
  }
  .item-product {
    width: 100%;
  }
  .item-list-product.masonry {
    -webkit-columns: 1 auto;
       -moz-columns: 1 auto;
            columns: 1 auto;
  }
}

@media screen and (max-width: 400px) {
  .custom-carousel .slide-text h2 {
    font-size: 18px;
  }
}
