body {
	margin: 0;
	color: #000;
	min-width:320px;
	font: 12px/14px $fos;
}

/* General reset */
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {border-style: none;}
input, select, textarea {
	vertical-align: middle;
	font: 100% $fos;
}
table { border-collapse: collapse; border-spacing: 0; }

a {color:#034b8f; text-decoration: none;}
a:hover {text-decoration: underline;}
q{quotes:none;}
q:before{content:'';}
q:after{content:'';}
/* General settings */

article ,aside ,audio,canvas,datalist,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{
 display: block; 
}
*{
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*!!!!!!!!!!!!!!!!!!!!!!!*/
/*responsiv*/
@media screen and (max-width: 400px) {}
@media screen and (min-width: 600px) and (max-width: 800px) {}
@media screen and (orientation:landscape) and (max-device-width: 900px){}
/*responsiv*/

/**************Gestartet*************/
